<div class="navigation">
    <button
        class="nav-item"
        routerLink="/">
          Home
      </button>

      <button
      class="nav-item"
      *ngIf="auth.isAuthenticated()"
      routerLink="profile">
        Profile
    </button>

      <button
        class="nav-item"
        *ngIf="!auth.isAuthenticated()"
        (click)="auth.login()">
          Log In
      </button>

      <button
        class="nav-item"
        *ngIf="auth.isAuthenticated()"
        (click)="auth.logout()">
          Log Out
      </button>
</div>