<h4 *ngIf="auth.isAuthenticated()">
    You are logged in! You can now order pizza!  
  </h4>
  <h4 *ngIf="!auth.isAuthenticated()">
    You are not logged in! Please <a (click)="auth.login()">Log In</a> to order a pizza.
  </h4>
  <button
      (click)="order()">
        Order Pepperoni Pizza
  </button>. Non verified emails won't order effectively
  <div>
    <h2>Server Response</h2>
    <p>{{message | json}}</p>
  </div>

